@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@200&display=swap');
body{
    background: rgb(180,232,229);
background: linear-gradient(0deg, rgba(180,232,229,1) 0%, rgba(186,238,235,1) 0%, rgba(255,244,225,1) 68%, rgba(34,193,195,1) 100%);
}


a{
    text-decoration: none;
    color: crimson
}
a:hover{
    color: peru;
}

.brd{
    border: 1px solid rgb(168, 168, 168);
    border-radius: 5px;
    
}

.navbar a{
    color: white;
}


#logo{
    float: left;
    width: 40%;
    text-align: left;
    margin: 0;
    color: white;
    font-size: 1.5em;
}

#logo img{
    width: 30px;
    height: 30px;
    margin-top: 0;
}
#logo span{
    color: white;
    font-size: medium;
    text-transform: uppercase;
}
#logo{
    padding: 0;
}


#logo li{
    display: inline-block;
    
}

.clear{
    clear: both;
}

.second{
    margin-top: 3%;
    padding: 10px;
}

.welcomecontent{
    padding: 20px;
    border: 5px solid white;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 90px;
    background-color: black;
    opacity: 0.6;
}
#welcome{

    color: white;
    background-image: linear-gradient(rgba(26, 27, 32, 0.527),rgba(5, 4, 5, 0.5)) ,url(img/welcomeBg.jpg);
    background-repeat: no-repeat;
   background-size: cover;
    background-position: center;
    padding: 20px 0 20px 0;
   
    margin-bottom: 30px;
    background-color: rgb(92, 88, 88);
    
}
#welcomeHeader{
    font-size: 2em;
    padding: 10px;
}

#welcome p{
    font-size: .8em;
    padding: 10px;
    margin-left: 10px;
}

img{
    max-width: 100%;
}

.content{
    float: left;
    width: 60%;
    padding: 5px;
}

.sidemenu{
    
    float: right;
    width: 40%;
    padding: 5px;
    
}

.newssection{
    max-height: 575px;
    overflow: scroll;
    overflow-x: hidden;
}

.sidemenu a{
    text-decoration: none;
}


.fas-bars{
    font-size: 2.5em;
}

.dropdown-menu{
    background-color: darkgray;
    padding: 3px;
}

.slideimg{
    height: 230px;
}

.cardphoto{
    height: 160px;
    width: 300px;
   
}
.newshead hr{
    border: 2px solid rgb(134, 148, 73);

}
.newssection div{
    padding: 5px;
    margin: auto;
}

#newstitle{
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    padding: 5px;
    margin-top: 0;
}

#newsdesciption{
    font-family: 'Titillium Web', sans-serif;
    font-size: 0.8em;
    padding: 5px;
}

.newshead{
    

font-family: 'Oxygen', sans-serif;
color: rgb(92, 91, 91);

}
.newsimage{
    height: 160px;
    width: 300px;
    padding: 5px;
   
}

.newstime{
    padding: 5px;
}


.socialmedia{
    font-size: 2em;
    display: block;
    padding: 10px;
}
.socialmedia a{
    color: white;
}
.socialmedia a:hover{
    color: rgb(210, 230, 141);
}

.copyright{
    background-color: rgb(36, 37, 41);
    color: azure;
}

.footertitle{
   
    color: white;
   
   
    font-weight: bold;
    font-size: 1.2em;
}

.footerdesc{
    color: rgb(233, 231, 231);
    font-size: .8em;
}
.footerlist{
   
    list-style: none;
    padding: 0;
}

.footerlist a{
    padding: 8px;
    text-decoration: none;
    color: white;
    
}
.footerlist a:hover{
   
    color: crimson;
    
}

.card-item h5{
    font-weight: bold;
}
   
   
@media screen and (max-width: 990px) {
    .content{
        float: none;
        width: 100%;
        padding: 5px;
    }
    .sidemenu{
        
        float: none;
        width: 100%;
        padding: 5px;
        
        max-height: 100%;
    }
    .newssection{
        max-height: 100%;
        overflow: hidden;
        
    }
}
@media screen and (max-width: 700px) {
    .content{
        float: none;
        width: 100%;
        padding: 5px;
    }
    
    .sidemenu{
     
        float: none;
        width: 100%;
        padding: 5px;
        overflow: hidden;
        max-height: 100%;
    }

    .newssection{
        max-height: 100%;
        overflow: hidden;
        
    }
 
    #logo{
        width: 80%;
    }
 
}


@media screen and (max-width: 750px) {

    .card-item{
        margin: auto;
        margin-top: 2%;
        max-width: 100%;
       background-color: transparent;
        font-family: 'Titillium Web', sans-serif;
        padding: 10px;
        border: none;
       
    }
    .second{
        margin-top: 4%;
        
    }
    .card-item h5{
        font-weight: bold;
    }
    
}


@media screen and (max-width: 750px) {
    #welcome{
        background-image: linear-gradient(rgba(26, 27, 32, 0.527),rgba(5, 4, 5, 0.5)) ,url(img/welcomeBg2.jpg);
        
    }
    .aboutcontent{
       
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    background-position: center-top;
    font-weight: bold;
    padding: 0px;
    font-size: .7em;}
}

/*About HTMl*/

.aboutcontent{
    
    background: url("img/aboutlogo.png");
    text-align: center;
 
    background-size: contain;
    background-repeat: no-repeat;
    background-position:center;
    
}
.content2{
    
    top: 8px;
    font-weight: bold;
    margin: auto;
    padding: 50px;
   
   
}
.mission{
   
    padding: 10px;
   
    color:black;
   
   
}
.mission p{
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.6em;
}
.vision{
   
    padding: 10px;

   
    color:black;
    
    
}

.vision p{
    font-family: 'Lato', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.6em;
}
.missionh1{
 
    font-family: 'Brush Script MT', cursive;
    font-weight: bold;
    font-size: 3em;
    color: #D82222;
}
.blue{
    color:#0213D6 ;
}
.bgimage{
    max-width: 100%;
    width: 600px;
    height: 600px;
    filter: opacity(30%);
    z-index:0;
}

.filler{
    height: 200px;
}

/*end of About HTMl*/
